/* Common Variables */
:root {
  --spacing: 16px;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: var(--spacing);
  margin: var(--spacing) auto;
}

.result {
  text-align: center;
  margin-bottom: var(--spacing);
  font-family: var(--font-family);
}

/* Stars Rating */
.stars {
  display: flex;
  justify-content: left;
  gap: 8px;
}

.star {
  position: relative;
  cursor: pointer;
}

/* Accessibility */
.stars_radio-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
