:root {
  --font-primary: "Montserrat", sans-serif;
  --color-primary: #56a5ab;
  --color-secondary: #808080;
  --background-color: #cce2df;
  --button-background: #4da1ab;
  --button-hover-background: #2e2c2d;
}


/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

/* Body */
body {
  margin: 0 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

/* Typography */
h4, h3 {
  font-size: 1rem;
  color: #383838;
}
h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}


/* Buttons */
.search-button {
  background: var(--button-background);
  border: 5px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: #0c0c0c;
  font-size: larger;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--button-hover-background);
}


/* Layout */
.section {
  margin: 2rem 0 1rem 0;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  background-size: cover;
  overflow: cover;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul {
  list-style: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  margin: 0 1.5rem;
  color: black;
  text-transform: uppercase;
}

* Form Elements */
input, textarea, button {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}


h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.meals {
  display: flex;
}



article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
}

ul {
  list-style: none;
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
 
} 
a, a:visited {
    color: #f8f7f7;
}



input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #141414;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: flex;
}

form {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
        background-color: rgba(0,0,0,0.4);
   
}